:root{
    --color1: #141E46;
    --color2: #5C5470;
    --color3: #B9B4C7;
    --color4: #FAF0E6;
}


* {
    font-family: 'Poppins', sans-serif;
    margin: 0px;
    padding: 0px;
}

section{
    display: flex;
    justify-content: center;
}

.main_width{
    width: min(120ch, calc(100% - 60px));
}


h1 {
    font-weight:600;
    font-size: 2rem;
}

h2,
h3,
h4 {
    font-weight: 600;
}

/* HEADER */

header {
    display: flex;
    width: calc(100% - 24px);
    background-color: white;
    position: fixed;
    padding: 7px 12px;
    box-shadow: 0px 0px 7px black;
    z-index: 1000;
}

header > div {
    width: fit-content;
}

header div {

    display: flex;
    align-items: center;
}

header .left {
    gap: 10px;
}


header .left .img {
    height: fit-content;
}

header .left .img img {
    width: 8ch;
}

header .left .text1 {
    height: fit-content;
    font-size: 1rem;
    font-weight: 600;
}

header .left .text2 {
    height: fit-content;
    font-size: 2rem;
}

header .left .text2 span{
    font-weight: 600;
}


@media (max-width: 680px) {
    header .left .text1 {
        visibility: hidden;
        width: 0px;
        height: 0px;
    }

    header {
        justify-content: center;
    }
}

@media (min-width: 681px) {
    header .left .text2 {
        visibility: hidden;
        width: 0px;
        height: 0px;
    }
}


/* FOOTER */

footer {
    display: flex;
    justify-content: center;
    background-color: var(--color1);
    color: white;
}

footer div div {
    margin-block: 7px;
}


footer .top {
    display: flex;
    justify-content: space-between;
}

footer .top .left {
    display: flex;
    padding: 5px;
}

footer .top .left img {
    width: 15ch;
}

footer .bottom {
    font-size: 0.8rem;
}

footer .top .right ul{
    list-style-type: none;
    display: flex;
    gap: 4px;
    flex-wrap: wrap;
    overflow-x: scroll;
}

footer .top .right ul li{
    display: flex;
}

footer .top .right ul li a{
    padding: 7px;
    display: flex;
    border-radius: 100%;
}

footer .top .right ul li a:hover{
    background-color: #FFFFFF22;
}

footer .top .right ul li img{
    height: 2.2rem;
}

/* Landing Page */

.LandingPage {
    height: 100vh;

    background-image: url(ASSETS/Stock/3.jpg);
    background-size: cover;
    background-blend-mode: multiply;
}

.LandingPage .overlay {
    position: absolute;
    left: 0;
    top: 0;
    height: 100vh;
    width: 100%;
    background: #000000DF;
}

.LandingPage .main_width {
    width: min(120ch, calc(100% - 120px));
}

@media (max-width: 680px) {
    .LandingPage .main_width {
        width: min(120ch, calc(100% - 60px));
    }
}

.LandingPage .LandingContent {
    position: relative;
    z-index: 1;
    top: 60vh;
    max-width: 540px;
    height: fit-content;
    color: white;
}

.LandingPage h3 {
    font-weight: 400;
}

@media (max-width: 680px) {
    .LandingPage .LandingContent {
        top: 20vh;
    }

    .LandingPage .overlay {
        height: 60vh;
    }

    .LandingPage {
        height: 60vh;
    }
}

/* Recent Events */

.RecentEvents ul{
    display: flex;
    overflow-x: scroll;
}

.RecentEvents ul li {
    border: 1px dotted black;
    min-width: 30ch;
}

/* .RecentEvents ul{
    border: 1px solid blueviolet;
    list-style-type: none;
    display: flex;
    gap: 4px;
    padding: 2px;
    flex-wrap: wrap;
    overflow-x: scroll;
}

.RecentEvents ul li{
    display: block;
    border: 1px solid black;
    width: 50ch;
    padding: 5px;
} */

/* Team Members */

.TeamMembers ul{
    list-style-type: none;
    display: flex;
    gap: 4px;
    flex-wrap: wrap;
}

.TeamMembers ul li{
    border-radius: 2px;
    padding: 5px 2px;
    width: calc((100%/3) - 10px);
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media (min-width: 1080px) {
    .TeamMembers ul li{
        width: calc(20% - 10px);
    }
}

@media (max-width: 680px) {
    .TeamMembers ul li{
        width: calc(50% - 10px);
    }
}

.TeamMembers ul li a{
    justify-content: center;
    max-width: min(170px, 90%);
    aspect-ratio: 1;
    border-radius: 100%; 

    position: relative;
    display: inline-block;

}

.TeamMembers ul li a .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 100%;
  opacity: 0;
  transition: opacity 0.4s ease;
  z-index: 5;
  background-image: url("ASSETS/Socials/linkedin.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-blend-mode: lighten;
  background-size: 6ch;
}

.TeamMembers ul li a .overlay:hover {
  background-color: #000000A0;
  opacity: 1;
}


.TeamMembers ul li img{
    width: 100%;
    aspect-ratio: 1;
    border-radius: 100%;
    z-index: 1;
}

.TeamMembers ul li p{
    font-size: 0.8rem;
}

